* {
  margin: 0;
  box-sizing: border-box;
}
/* Home (shlok) start */

/* Home (shlok) end */

/* why to use? (rohit) start  */
.WhyToUse {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  background: url(./images/books.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.L-section,
.R-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 900px; */
  /* width: 450px; */
}
.middle-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 900px; */
  width: 200px;
}
.middle-section-logo {
  width: 200px;
  text-align: center;
  margin: 10px;
  background-color: rgba(256, 256, 256, 0.8);
  border-radius: 50%;
}
.middlesection-text {
  font-size: 60px;
  width: 200px;
  text-align: center;
  margin: 0 30px;
  padding: 10px;
  font-family: monospace;
  font-weight: bolder;
  border-radius: 20px;
  background-color: rgba(256, 256, 256, 0.8);
  color: black;
}
.point {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  margin: 25px 50px;
  border-radius: 30px;
  background-color: rgba(256, 256, 256, 0.8);
}
.point-img {
  height: 125px;
  width: 125px;
  margin: 10px 0 0 0;
}
.point-title {
  height: 75px;
  width: 225px;
  margin: 0 10px 0 10px;
  color: black;
  font-family: monospace;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.point-content {
  height: 200px;
  width: 225px;
  margin: 0 10px 10px 10px;
  text-align: center;
  color: black;
  font-family: monospace;
  font-size: 17px;
}
/* why to use? (rohit) end */

/* how to use? (varun) start */

/* how to use? (varun) end */

/* reviews (rohit) start  */

/* reviews (rohit) end */

/* contacts (sejal) start */

/* contacts (sejal) end  */

@media screen and (max-width: 1016px) {
  /* why to use? (rohit) start */
  .WhyToUse {
    flex-direction: column;
  }
  .L-section,
  .R-section {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .L-section {
    order: 2;
  }
  .R-section {
    order: 3;
  }
  .point {
    margin: 25px;
  }
  .middle-section {
    order: 1;
    align-self: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
  }
  .middlesection-text {
    width: 300px;
  }
  /* why to use? (rohit) end */
}
